<header class="panel-cover" style="background-image: url({{ site.baseurl }}/images/cover.png)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <!--img src="{{ site.baseurl }}/images/profile.png" class="user-image" alt="RLGM"-->
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">
        <p class="panel-cover__description"><a href="https://www.imperial.ac.uk/people/m.bronstein">Michael M. Bronstein</a>, <a href="https://cims.nyu.edu/~bruna/">Joan Bruna</a>, <a href="https://tacocohen.wordpress.com/">Taco Cohen</a>, <a href="https://petar-v.com/">Petar Veličković</a></p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">
        <nav class="cover-navigation cover-navigation--primary">
         <ul class="navigation">
              <li class="navigation__item"><a href="https://arxiv.org/abs/2104.13478" title="Read the Proto-Book" class="blog-button">Read the Proto-Book</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}/blogs" title="Read the Blog" class="blog-button">Read the Blog</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}/keynotes" title="Watch the Keynotes" class="blog-button">Watch the Keynotes</a></li>
              <li class="navigation__item"><a href="https://www.youtube.com/watch?v=bIZB1hIJ4u8" title="Watch the ML Street Talk Episode" class"blog-button">Watch the ML Street Talk Episode</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}/lectures" title"Follow the Lectures" class="blog-button">Follow the Lectures</a></li>
              <li class="navigation__item"><a href="mailto:gdl-book@googlegroups.com" title="Contact the Authors" class="blog-button">Contact the Authors</a></li>
         </ul>
         </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
