<header class="panel-cover" style="background-image: url({{ site.baseurl }}/images/cover.png)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <!--img src="{{ site.baseurl }}/images/profile.png" class="user-image" alt="RLGM"-->
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">
        <p class="panel-cover__description"><a href="https://www.imperial.ac.uk/people/m.bronstein">Michael M. Bronstein</a>, <a href="https://cims.nyu.edu/~bruna/">Joan Bruna</a>, <a href="https://tacocohen.wordpress.com/">Taco Cohen</a>, <a href="https://petar-v.com/">Petar Veličković</a></p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">
        <nav class="cover-navigation cover-navigation--primary">
         <ul class="navigation">
              <li class="navigation__item"><a href="https://arxiv.org/abs/2104.13478" title="Read the paper" class="blog-button">Read the paper</a></li>
              <li class="navigation__item"><a href="https://towardsdatascience.com/geometric-foundations-of-deep-learning-94cdd45b451d?sk=184532175cb936d7b25d9adebd512629" title="Read the blog post" class="blog-button">Read the blog post</a></li>
              <li class="navigation__item"><a href="https://www.youtube.com/watch?v=w6Pw4MOzMuo" title="Watch the ICLR'21 keynote" class="blog-button">Watch the ICLR'21 keynote</a></li>
              <li class="navigation__item"><a href="https://www.youtube.com/watch?v=9cxhvQK9ALQ" title="Watch the Erlangen keynote" class="blog-button">Watch the Erlangen keynote</a></li>
              <li class="navigation__item"><a href="https://www.youtube.com/playlist?list=PLn2-dEmQeTfQ8YVuHBOvAhUlnIPYxkeu3" title"Watch the Lectures (AMMI 2021)" class="blog-button">Watch the Lectures (AMMI 2021)</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}/overview" title"Read the Lecture Slides (AMMI 2021)" class="blog-button">Read the Lecture Slides (AMMI 2021)</a></li>
              <li class="navigation__item"><a href="mailto:gdl-book@googlegroups.com" title="Contact the authors" class="blog-button">Contact the authors</a></li>
         </ul>
         </nav>

        </div>

      </div>

    </div>

    <div class="panel-cover--overlay"></div>
  </div>
</header>
